{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block preheader %}{% translate "A fresh link to set a new password." %}{% endblock %}
{% block heading %}{% translate "Reset your password" %}{% endblock %}
{% block lead %}{% translate "We received a request to reset the password for the Convertica account on this email address." %}{% endblock %}
{% block cta_label %}{% translate "Set a new password" %}{% endblock %}
{% block note %}{% translate "If you did not ask for this, ignore this email. Your current password stays as it is." %}{% endblock %}
{% block footer %}{% translate "You are receiving this email because a password reset was requested for your Convertica account." %}{% endblock %}
