{% extends "frontend/converter_generic.html" %}
{% load i18n %}

{% block help_section %}
  {{ block.super }}
  {% include "frontend/includes/seo_content.html" with content_title=page_content_title content_body=page_content_body %}
  {% include "frontend/includes/seo_benefits.html" with benefits=page_benefits benefits_title=benefits_title %}
  {% include "frontend/includes/seo_tips.html" with tips=page_tips tips_title=tips_title %}
  {% include "frontend/includes/seo_faq.html" with faq=page_faq faq_title=faq_title %}
{% endblock %}
